
    <div class="content-wrapper">
      <div class="page-header" style="margin-top: 5%;">
        <h3 class="page-title">
        Categories
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="cursor: pointer;">Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Category</li>
            </ol>
        </nav>
      </div>
      <div class="row grid-margin">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ isEditMode ? 'EDIT CATEGORY' : 'ADD CATEGORY' }}</h4>
              <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <fieldset>
                  <div class="form-group">
                    <label for="cname">Category Name (required, at least 2 characters)</label>
                    <input
                      id="cname"
                      class="form-control"
                      formControlName="name"
                      minlength="2"
                      type="text"
                      required
                    />
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">
                    Submit
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- content-wrapper ends -->
  <!-- main-panel ends -->